#---------- You can choose required deployment environment (only one) ----------
APPLICATION_ENVIRONMENT = "local"
#APPLICATION_ENVIRONMENT = "development"
#APPLICATION_ENVIRONMENT = "integration"
#APPLICATION_ENVIRONMENT = "testing"
#APPLICATION_ENVIRONMENT = "staging"
#APPLICATION_ENVIRONMENT = "production"



#---------- SECRET_KEY is always uncommented ----------
SECRET_KEY = "your-secret-key"



#---------- If you uncomment these lines (below), you redefine or expand corresponding variables ----------

#----- redefine -----
#DEBUG = "False"

#----- expand -----
#ALLOWED_HOSTS = "[
#    'www.example.com',  # will be matched against the request’s Host header exactly (case-insensitive, not including port)
#    '.example.com',     # will match example.com, www.example.com, and any other subdomain of example.com
#    '*',                # will match anything; in this case you are responsible to provide your own validation of the Host header (perhaps in a middleware; if so this middleware must be listed first in MIDDLEWARE)
#]"

#----- redefine -----
#DATABASES_DEFAULT = "{
#    'ENGINE': 'django.db.backends.sqlite3',
#    'NAME':   'your-database'
#}"
#DATABASES_DEFAULT = "{
#    'ENGINE': 'django.db.backends.mysql',
#    'OPTIONS': {
#        'read_default_file': '/path/to/your.cnf',
#    },
#}"
#DATABASES_DEFAULT = "{
#    'ENGINE':   'django.db.backends.postgresql',
#    'NAME':     'your-database',
#    'USER':     'your-database-user',
#    'PASSWORD': 'your-password',
#    'HOST':     'your-host',
#    'PORT':     'your-port',
#}"
#DATABASES_DEFAULT = "{
#    'ENGINE':   'django.db.backends.oracle',
#    'NAME':     'your-database',
#    'USER':     'your-database-user',
#    'PASSWORD': 'your-password',
#    'HOST':     'your-host',
#    'PORT':     'your-port',
#}"

#---------- USER/PASSWORD of DATABASE are always uncommented ----------
MYSQL_DATABASE = "django_sql_explain_logger_example_mysql_${APPLICATION_ENVIRONMENT}"
MYSQL_USER = "your-user"
MYSQL_PASSWORD = "your-password"
MYSQL_ROOT_PASSWORD = "your-root-password"
MYSQL_PORT = "3306"

#---------- are always uncommented or you should set it in suitable settings file (when you use frontend) ----------
FRONTEND_SCHEME = "your-frontend-scheme"
FRONTEND_HOST = "your-frontend-host:your-frontend-port"

#----- redefine -----
#CORS_ALLOW_ALL_ORIGINS = "False"

#----- expand -----
#CORS_ALLOWED_ORIGINS = "[
#    'your-scheme://your-host-000:your-port-000',
#    'your-scheme://your-host-001:your-port-001',
#    'your-scheme://your-host-002:your-port-002',
#    'your-scheme://your-host-003:your-port-003',
#]"

#----- redefine -----
#CORS_ALLOW_CREDENTIALS = "True"

#----- expand -----
#CSRF_TRUSTED_ORIGINS = "[
#    'your-host-000:your-port-000',
#    'your-host-001:your-port-001',
#    'your-host-002:your-port-002',
#    'your-host-003:your-port-003',
#]"
